<div class="box-transaction">
  <h1>Nova transação</h1>
  <form>
    <label for="mercadorias">Tipo de transação</label>
    <select id="mercadorias" name="mercadorias">
      <option value="compra">Compra</option>
      <option value="venda">Venda</option>
    </select>
    <label for="fname">Nome da mercadoria</label>
    <input type="text" id="fname" name="fname" placeholder="Mercadoria..." />
    <label for="lname">Valor</label>
    <input type="text" id="lname" nae="lname" placeholder="R$ 0,00" />
    <input class="btn" type="submit" value="Adicionar transação" />
  </form>
</div>
