<header class="topbar">
  <nav class="navbar">
    <div class="navbar-logo">
      <img src="../assets/images/logo.svg" width="40" alt="" />
      <h1>Controle Financeiro</h1>
    </div>
    <ul class="navbar-links">
      <li class="navbar-links-item">
        <a href="javascript:;">Dashboard</a>
      </li>
      <li class="navbar-links-item">
        <a href="javascript:;">Resumo</a>
      </li>
      <li class="navbar-links-item">
        <a href="javascript:;">Configurações</a>
      </li>
    </ul>
  </nav>
</header>
