<app-topbar></app-topbar>
<main class="container">
  <div class="box-transaction">
    <h1>{{ title }}</h1>
    <form [formGroup]="form">
      <div class="tipo">
        <label for="tipo">Tipo de transação</label>
        <select id="tipo" formControlName="tipo">
          <option value="Selecione um tipo" [selected]="true" disabled>
            Selecione um tipo de transação
          </option>
          <option value="compra">Compra</option>
          <option value="venda">Venda</option>
        </select>
      </div>

      <div class="mercadoria">
        <label for="nome">Nome da mercadoria</label>
        <input
          type="text"
          id="nome"
          formControlName="nome"
          placeholder="Mercadoria..."
          maxlength="100"
        />
      </div>

      <div class="valor">
        <label for="valor">Valor</label>
        <input
          type="number"
          id="valor"
          formControlName="valor"
          placeholder="R$ 0,00"
          maxlength="10"
        />
      </div>

      <button class="btn" type="submit" (click)="add()">
        Adicionar Transação
      </button>
    </form>
  </div>

  <div class="box-history">
    <header>
      <h1>Extrato de Transações</h1>
      <a href="javascript:;" (click)="cleanHistory()">Limpar</a>
    </header>
    <table>
      <thead>
        <tr>
          <th class="id">#</th>
          <th class="desc">Mercadoria</th>
          <th class="price">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let register of registers">
          <td class="id">{{ register.tipo === "compra" ? "-" : "+" }}</td>
          <td class="desc">{{ register.nome }}</td>
          <td class="price">
            {{ register.valor | currency: "BRL":"symbol":"0.0-2":"pt" }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="id"></td>
          <td class="desc">TOTAL</td>
          <td class="total">
            {{ totalSum | currency: "BRL":"symbol":"0.0-2":"pt" }} <br />
            <span>{{
              totalSum > 0 ? "[LUCRO]" : totalSum < 0 ? "[PREJUÍZO]" : ""
            }}</span>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
  <router-outlet></router-outlet>
</main>
