/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  width: 100%;
  height: 100%;
}

label,
input,
select,
button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  font-size: 0.875rem;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  font-size: 0.875rem;
  border: 1px solid #979797;
  border-radius: 4px;
  margin-bottom: 20px;
}

select {
  padding: 9px;
  font-size: 0.875rem;
  border: 1px solid #979797;
  border-radius: 4px;
  margin-bottom: 20px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

.container .box-transaction {
  width: 400px;
  margin-right: 20px;
  padding: 20px 15px;
  border: 1px solid #979797;
  border-radius: 4px;
}

.container .box-transaction h1 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.container .box-transaction .btn {
  background-color: #333;
  color: #fff;
  border: 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

.container .box-transaction .btn:hover {
  background-color: #000;
}

.container .box-history {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 15px;
}

.container .box-history h1 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

.container .box-history table {
  width: 100%;
}

.container .box-history table thead tr {
  border-top: 0;
  border-bottom: 1px solid #979797;
}

.container .box-history table thead tr th {
  text-align: left;
  font-size: 0.875rem;
  font-weight: 700;
  color: #000;
  padding: 8px 0;
}

.container .box-history table td {
  padding: 8px 0;
  font-size: 0.875rem;
  color: #000;
}

.container .box-history table tbody tr {
  border-top: 1px double #979797;
}

.container .box-history table tfoot tr {
  border-top: 5px double #979797;
}

.container .box-history table .id {
  width: 6%;
  text-align: right;
  padding-right: 10px;
}

.container .box-history table .desc {
  width: 54%;
}

.container .box-history table .price {
  width: 40%;
  text-align: right;
  padding-right: 10px;
}

.container .box-history table .total {
  width: 40%;
  text-align: right;
  padding-right: 10px;
  font-size: 1rem;
  font-weight: 700;
}

.container .box-history table .total span {
  font-size: 0.75rem;
}

.container .box-history table,
.container .box-history th,
.container .box-history td {
  border-collapse: collapse;
}

.container .box-empty {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 15px;
}

.container .box-empty h1 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 20px;
  text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .box-transaction {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .container .box-transaction form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .container .box-transaction form .tipo {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .container .box-transaction form .mercadoria {
    -webkit-box-flex: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
    margin: 0 10px;
  }
  .container .box-transaction form .valor {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .container .box-transaction form button {
    width: 240px;
  }
  .container .box-history {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media screen and (max-width: 411px) {
  .container {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .box-transaction {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 30px;
    border: 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #333;
    border-radius: 0;
  }
  .container .box-transaction h1 {
    display: none;
  }
  .container .box-transaction form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container .box-transaction form .tipo {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .container .box-transaction form .mercadoria {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0;
  }
  .container .box-transaction form .valor {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .container .box-transaction form button {
    width: 100%;
  }
  .container .box-history {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */